.detalhes-do-filme-container {
    padding: 100px 120px;

}
#video-trailert {
    width: 100%;
}
.informacoes {
    display: flex;
    gap: 100px;
    align-items: flex-start;

}
.informacoes > img {
    width: 300px;
    border-radius: 7px;
    transition: 1s ease-in-out; 

}
.informacoes > img:hover {
    scale: 1.05;
    
}